# Python
__pycache__/
*.py[cod]
venv/
.pytest_cache/

# Environment Variables & Secrets
.env
config.json
profiles.yml

# dbt artifacts
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/

# Local Data/Logs
logs/
*.csv
*.xml
*.zip
*.json
.DS_Store

# Ignore Terraform engine everywhere
**/.terraform/
*.tfstate
*.tfstate.backup
*.terraform.lock.hcl

# --- Orchestration / Airflow ---
# Ignore execution logs
orchestration/logs/
*.log

# Ignore Python cache files
orchestration/__pycache__/
orchestration/dags/__pycache__/
*.pyc

# Ignore environment variable files (security risk)
orchestration/.env

# Ignore Docker mount points if they were created locally
orchestration/dbt/