name: Deploy Snowflake Infrastructure

on:
  push:
    branches:
      - main
    paths:
      - 'infrastructure/snowflake/**'
  workflow_dispatch: # Allows manual triggering from the UI

jobs:
  deploy-snowflake-infra:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Install SnowSQL (Snowflake CLI)
        run: |
          curl -O https://sfc-repo.snowflakecomputing.com/snowsql/bootstrap/1.2/linux_x86_64/snowsql-1.2.9-linux_x86_64.bash
          SNOWSQL_DEST=~/bin SNOWSQL_LOGIN_SHELL=~/.profile bash snowsql-1.2.9-linux_x86_64.bash

      - name: Execute Infrastructure Script
        env:
          SNOWSQL_ACCOUNT: ${{ secrets.SNOWFLAKE_ACCOUNT_2 }}
          SNOWSQL_USER: ${{ secrets.SNOWFLAKE_USER_2 }}
          SNOWSQL_PWD: ${{ secrets.SNOWFLAKE_PASSWORD_2 }}
          SNOWSQL_ROLE: ${{ secrets.SNOWFLAKE_ROLE_2 }}
        run: |
          ~/bin/snowsql -f infrastructure/snowflake/01_setup_infrastructure.sql \
          -o exit_on_error=true \
          -o friendly=false